{% extends "base.html" %}

{% block title_head %}
    About me
{% endblock title_head %}

{% block Titulos %}

{% endblock Titulos %}

{% block content %}

<h1>Acerca de mi</h1>

    <p>Mi nombre es Alan Molina, tengo 33 años, soy Ingeniero Ambiental y trabajo como
        especialista en Medio Ambiente.
    </p>

    <p></p> {% comment "Espacio entre párrafos" %}{% endcomment %}

    <p>Tengo realizado varios cursos relacionados al manejo de datos, ya que, por la naturaleza
        de mi trabajo se genera un gran volumen de datos y su tratamiento constituye las bases
        para poder explotarlos y analizar el comportamiento de varias variables.
    </p>

{% endblock content %}

{% block Tarjetas %}

{% endblock Tarjetas %}

{% block Charts %}

{% endblock Charts %}

{% block Pie %}

{% endblock Pie %}

