{% extends "base.html" %}

{% block title_head %}
Inicio
{% endblock title_head %}

{% block content %}


<h1>Instrucciones</h1>

<p>Mediante este sitio usted prodrá tener un control de sus gastos, diferenciando los flujos de
    entrada y salida de forma sencilla para no perder de vista su billetera!
</p>

<p></p> {% comment "Espacio entre párrafos" %}{% endcomment %}

    <p>Para ello podrás ingresar cada uno de estos flujos por los botones que se encuentran a 
    continuación.</p>

<form action= "{% url "inicio:inicio" %}" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    <h2>Aquí podrás cargar un nuevo movimiento de dinero</h2>
    {{ form.as_p }}
    <input type="submit" value="Crear" class="btn btn-dark">
    <a href="{% url 'inicio:inicio' %}" class="btn btn-secondary">Limpiar</a>
    
</form>

<style>
    .errorlist {
        display: none; /* Oculta todos los mensajes de error */
    }
</style>

<p></p> {% comment "Espacio entre párrafos" %}{% endcomment %}

<h2>Página Principal</h2>
    <p>En la sección "Tablero General" te permitirá visualizar los gastos o ingresos puntuales que impactan en tu de tu billetera.</p>

    <p></p> {% comment "Espacio entre párrafos" %}{% endcomment %}

    {% comment %} <p>Esto incluye un pequeño resumen del total de tus gastos e ingresos y algunos KPI's
        de interés!
    </p> {% endcomment %}
    
<h2>Flujo de Movimientos</h2>

    <p>En este apartado podrá diferenciar sus entradas de dinero y gastos, pudiendo analizar
       con el detalle que requiera cuando se presentó cada uno de ellos.
    </p>

<h2>Gráficas</h2>

    <p>Por último, se mostrará en forma de gráfico de lineas la evolución temporal de sus 
        flujos netos y una tabla que los reuna.
    </p>

{% endblock content %}