{% extends "base.html" %}
{% load humanize %}
{% load format_filters %}

{% block title_head %}
Mensajes
{% endblock title_head %}

{% block Titulos %}{% endblock Titulos %}

{% block content %}
<h1 style="margin-top: 30px;"> Bienvenido al centro de ayuda </h1>

<p>
    Por medio del botón crear mensaje, usted podrá enviar su consulta a nuestros asesores. En 
    la sección "Ver más", visualizará el cuerpo de los mails enviados y recibidos.
</p>

<style>
    .tabla {
        width: 100%;
        border-collapse: collapse; /* Asegura que los bordes se colapsen */
    }

    /* Estilo de las cabeceras */
    .tabla th {
        padding: 10px;
        text-align: left;
        background-color: #f2f2f2;
        border-bottom: 2px solid black; /* Solo borde inferior para las cabeceras */
        width: 0%; /* Ajusta el ancho de las cabeceras según sea necesario */
    }

    /* Estilo de las celdas */
    .tabla td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid black; /* Solo borde inferior para las celdas */
    }

    /* Remover el borde del contorno de la tabla */
    .tabla, .tabla tr {
        border: none; /* Sin borde exterior */
    }

    .formulario {
        margin-bottom: 30px; /* Espacio entre el formulario y la tabla */
    }
</style>

<a href="{% url 'mensajeria:iniciar' %}" class="btn btn-dark">Nuevo Mensaje</a>

<p>   </p>
{% if msj %}
<table class="tabla">
    <thead>
        <tr>
            <th>Destinatario</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for msj in msj %}
        <tr>
            <td>{{ msj.destinatario }}</td>
            <td>{{ msj.fecha|date:"d/m/Y" }}</td>
            <td>{{ msj.asunto }}</td>
            <td> 
                | <a href="{% url 'mensajeria:ver_detalle' msj.id %}">Ver más</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tienes mensajes en tu buzón. Si deseas contactarnos, por favor envíanos un nuevo mensaje desde el botón "Nuevo Mensaje".</p>
{% endif %}
{% endblock content %}
