{% extends "base.html" %}

{% block title_head %}
Login
{% endblock title_head %}
{% block Titulos %}{% endblock Titulos %}


{% block content %}

<h1 style="margin-top: 30px;">Ingresar</h1>

<p>Introduce tus credenciales para iniciar sesión</p>

<form action="{% url 'usuarios:login' %}" method="POST">
    
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Iniciar Sesión" class="btn btn-dark">
    <a href="{% url 'inicio:inicio' %}" class="btn btn-secondary">Cancelar</a>

</form> 

{% endblock content %}
