{% extends "base.html" %}

{% block title_head %}
Editar Contraseña
{% endblock title_head %}
{% block Titulos %}

{% endblock Titulos %}

{% block content %}

<h1 style="margin-top: 30px;">Modificar Contraseña</h1>
<p>Por favor, ingrese una nueva contraseña: </p>

<form action="{% url 'usuarios:mod_pass' %}" method="POST">    
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Editar" class="btn btn-dark">
    <a href="{% url 'inicio:inicio' %}" class="btn btn-secondary">Cancelar</a>
</form> 

{% endblock content %}
